/* element selector */
h2:hover {
    color: red;
}

p {
    /* color: red; */
}

/* class selector */
.aclass {
    /* color:blue; */
}

/* id selector */
#sometext {
    /* color:orange; */
}

/* More specific selectors override other selectors */

.title {
    color: red;
}

.subtitle {
    color: blue;
}

#contact-us {
    color: green;
}

#services {
    color: pink;
}

/* pseudo selector first child (select parent) */
li:first-child {
    color: steelblue;
}

li:nth-child(2) {
    color: yellowgreen;
}